<header id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <carousel class="carousel-inner" interval="7000">
        <slide class="item" active="true">
            <div class="fill" style="background-image:url('/images/disco_rotante.jpg');"></div>
            <div class="carousel-caption">
                <h3> </h3>
            </div>
        </slide>
        <slide class="item">
            <div class="fill" style="background-image:url('/images/piazza_universita.jpg');"></div>
            <div class="carousel-caption">
                <h3> </h3>
            </div>
        </slide>
        <slide class="item">
            <div class="fill" style="background-image:url('/images/blocchi_informi.jpg');"></div>
            <div class="carousel-caption">
                <h3>  </h3>
            </div>
        </slide>
        <slide class="item">
            <div class="fill" style="background-image:url('/images/piazza_duomo.jpg');"></div>
            <div class="carousel-caption">
                <h3>  </h3>
            </div>
        </slide>
    </carousel>

</header>
