<footer id="footer" class="row">
    <div id="disclaimer" class="container">
        <div class="col-md-4">
            <h4>Basalti Barbaro Srl</h4>
            <div class="text-small">
                <address>
                    <strong>Sede Legale:</strong><br>
                    Via Grotta San Giovanni, 23<br>
                    95123 Catania CT<br>
                </address>
            </div>
            <abbr title="Codice Fiscale"><strong>P.Iva:</strong></abbr> 05125920875<br>
        </div>
        <div class="col-md-4">
            <h4>&nbsp;</h4>

            <div class="text-small">
                <address>
                    <strong>Sede Opertiva:</strong><br>
                    Via Campo Sportivo, 57<br>
                    95045 Misterbianco CT<br>
                </address>
            </div>
        </div>
        <div class="col-md-4">
            <h4>Contatti</h4>
            <abbr title="Telefono"><strong>Tel.:</strong></abbr> +39 348 7128934<br>
            <abbr title="Fax"><strong>Fax:</strong></abbr> +39 095 8991958<br>
            <abbr title="Email"><strong>Email:</strong></abbr> antonio@basaltibarbarosrl.it<br>
            <abbr title="PEC"><strong>Pec:</strong></abbr> basaltibarbaro@pec.impresecatania.it<br>
        </div>
    </div>

    <div id="copyrigths">
        <div class="container clearfix">
            <div class="col-md-6">
                Copyrights © 2015 Tutti i diritti riservati - Basalti Barbaro Srl.
                <div class="copyright-links">
                    <a href="#/termini-di-utilizzo">Termini di utilizzo</a> /
                    <a href="#/privacy">Privacy</a> /
                    <a href="#/credits">Credits</a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <div class="clearfix" style="color:#CCC">
                    <a href="https://www.facebook.com/" target="_blank">
                        <i class="fa fa-facebook-square fa-2x"></i>
                    </a>

                    <a href="https://twitter.com/" target="_blank">
                        <i class="fa fa-twitter-square fa-2x"></i>
                    </a>

                </div>
            </div>
        </div>
    </div>

</footer>
