<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Pietra Lavica</h2>
    </div>
    <div class="col-md-4 text-center">
        <div class="thumbnail">
            <img class="img-responsive" src="images/prodotti/semilavorati.jpg" alt="" >
            <div class="caption">
                <h3>
                    Semilavorati
                </h3>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="thumbnail">
            <img class="img-responsive" src="images/prodotti/pavimentazioni.jpg" alt="">
            <div class="caption">
                <h3>
                    Pavimetazioni
                </h3>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="thumbnail">
            <img class="img-responsive" src="images/prodotti/rivestimenti.jpg" alt="" >
            <div class="caption">
                <h3>
                    Rivestimenti
                </h3>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="thumbnail">
            <img class="img-responsive" src="images/prodotti/cordoli.jpg" alt="" >
            <div class="caption">
                <h3>
                    Cordoli
                </h3>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="thumbnail">
            <img class="img-responsive" src="images/prodotti/copertine.jpg" alt="" >
            <div class="caption">
                <h3>
                    Copertine
                </h3>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="thumbnail">
            <img class="img-responsive" src="images/prodotti/arredourbano.jpg" alt="" >
            <div class="caption">
                <h3>
                    Arredo Urbano
                </h3>
            </div>
        </div>
    </div>
</div>
