    <!-- Page Heading/Breadcrumbs -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Chi Siamo
                <small>| Storia e lavori</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Chi Siamo</li>
            </ol>
        </div>
    </div>

    <!-- Sede Operativa -->
    <div class="container">
      <div class="row">

        <h3>Basalti Barbaro Srl</h3>
        <p class="lead" style="text-align: justify;">Azienda del gruppo Barbaro, nasce a fine 2013 da una costola della LSB srl che negli anni passati si è affermata come azienda leader nel settore.
        </p>
        <p class="lead" style="text-align: justify;">
          Tra le forniture da noi eseguite ricordiamo le basole per la Via Etnea di Catania e il C.so Matteotti a Misterbianco, i cordoli per la Circonvallazione di Catania e il porto di Panarea, le soglie e i rivestimenti per lo store Dolce e Gabbana di Londra.
        </p>
        <p class="lead" style="text-align: justify;">
          E’ noto come il settore della lavorazione della pietra lavica per uso ornamentale abbia avuto un forte sviluppo, trainato sia dalla volontà delle amministrazioni pubbliche di ristrutturare e preservare il patrimonio storico dei nostri centri urbani, sia dal sempre crescente interesse verso questa pietra da parte dei costruttori edili e dei committenti privati. Per cogliere a pieno le potenzialità di questo mercato abbiamo costituito la Basalti Barbaro srl, diretta dall’Ing. Antonio Barbaro, azienda giovane e dinamica, che vuole coniugare la maestria artigianale acquisita in oltre vent’anni d’attività con un’attenta razionalizzazione dei processi produttivi in chiave industriale.
        </p>

      </div>
      <hr />
      <!--
      <div class="row">
        <div class="col-md-12">
          <a class="btn btn-primary btn-large">i nostri Lavori</a>
        </div>
      </div>
      -->
      <!-- /.row -->
    </div>

</div>
