<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Contatti
                <small>| Mappa e Recapiti</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Contatti</li>
            </ol>
        </div>
    </div>

    <!-- Sede Operativa -->
    <div class="row">
        <!-- Map Column -->
        <div class="col-md-8">
            <!-- Embedded Google Map -->
            <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6327.35736052106!2d15.037431448102243!3d37.53907103931789!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1313fd60d0eb29f9%3A0x6ce48c6bc0a1a99e!2sVia+Campo+Sportivo%2C+57%2C+95045+Misterbianco+CT!5e0!3m2!1sit!2sit!4v1434722356512"></iframe>
        </div>
        <!-- Contact Details Column -->
        <div class="col-md-4">
            <h3>Sede Operativa</h3>
            <p>
                Via Campo Sportivo, 57<br>Catania, CT 95045<br>
            </p>
            <p>
                <i class="fa fa-phone"></i>
                <abbr title="Telefono">T</abbr>: +39 095 8991958
            </p>
            <p>
                <i class="fa fa-phone"></i>
                <abbr title="Cellulare">C</abbr>: +39 348 7128934
            </p>
            <p>
                <i class="fa fa-fax"></i>
                <abbr title="Fax">F</abbr>: +39 095 8991958
            </p>
            <p>
                <i class="fa fa-envelope-o"></i>
                <abbr title="Email">E</abbr>: <a href="mailto:info@basaltibarbarosrl.it">info@basaltibarbarosrl.it</a>
            </p>
            <p>
                <i class="fa fa-envelope-o"></i>
                <abbr title="PEC">P</abbr>: <a href="mailto:basaltibarbaro@pec.impresecatania.it">basaltibarbaro@pec.impresecatania.it</a>
            </p>

            <p>
                <i class="fa fa-clock-o"></i>
                <abbr title="Orari">O</abbr>: Lunedì - Venerdì: <br>8:00-13:00 e 14:00-17:00
            </p>
        </div>
    </div>
    <!-- /.row -->


    <hr>


</div>
