<!-- Header Carousel -->
<ng-include src="'/partials/carousel.html'"></ng-include>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Basalti Barbaro Srl <span class="small text-primary">| Specialisti nella lavorazione della pietra lavica dell'Etna </span>
            </h1>
        </div>
        <div class="col-md-3">
            <img class="img-responsive" style="width: 190px;" src="/images/scalpellino.jpg" alt="">
        </div>
        <div class="col-md-9">
            <p class="lead" style="text-align: justify;" >La Basalti Barbaro è azienda leader nel settore della lavorazione della pietra lavica.
              Operiamo nel comune di Misterbianco (CT) ai piedi del vulcano Etna, il più grande vulcano attivo d’Europa.
              Lavoriamo blocchi di primissima scelta per garantirvi sempre la massima qualità disponibile sul mercato.
              I nostri clienti sono imprese, enti pubblici, professionisti e privati.
              Servendoci delle più moderne tecnologie unite alla professionalità dei nostri operatori e dei mastri scalpellini,
              siamo in grado di fornire una gamma completa di prodotti in basalto lavico dell'Etna. </p>
        </div>
    </div>

    <ng-include src="'/partials/prodotti.html'"></ng-include>
</div>
